<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Movie Search</title>
  </head>
  <body>
    <h1>Search your Movie here!!!</h1>
    <form method="get" action="/movie">
      <label>
        <input type="text" placeholder="movie name"  name="movieName">
      </label>
      <input type="submit">
    </form>
    <link rel='stylesheet' href='/stylesheets/movies.css' />
  </body>
</html>
