<!DOCTYPE html>
<html lang="en">
<head>
    <title>Movie List</title>
    <link rel='stylesheet' href='/stylesheets/movies.css' />
    <script src='/javascripts/movies.js' type="text/javascript"></script>
</head>
<body>
<div>
    <h1>Your Search Movie List here</h1>
</div>
<br>
<ol>
<%for(var movie of movies){%>
        <li><i><%= movie.Title %></i> &nbsp- <%= movie.Year %> &nbsp
            <label> Watched?
                <input type="checkbox" name="checkbox">
            </label>
        </li>
<%}%>
</ol>
<a href="/"><button class="press">Go back</button></a>
</body>
</html>
